<a href="https://colab.research.google.com/github/Lokhande10/Python-for-Everybody-/blob/main/Practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Variables
x=2
x=12.2
x=100
print(x)

100

In [ ]:
x=2
y=14
x=100
print(x)

100

In [4]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [10]:
counts=dict()
names=('niks','bob','niks','joe','riya','niks')
for name in names:
  counts[name]=counts.get(name,0)+1  # simplified counting by get()
print(counts)

{'niks': 3, 'bob': 1, 'joe': 1, 'riya': 1}

In [13]:
d={'a':25,'c':1,'b':15}
d.items()
sorted(d.items())     # sorted by keys

[('a', 25), ('b', 15), ('c', 1)]

In [14]:
print(sorted([(v,k) for k,v in d.items()]))   # list comprehension soreted by values

[(1, 'c'), (15, 'b'), (25, 'a')]

In [15]:
import socket

In [16]:
# 1. Write a Python program to print the following string in a specific format (see the output). Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are"

In [17]:
print("Twinkle, twinkle, little star,\n    How I wonder what you are! \n\tUp above the world so high, \n\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n    How I wonder what you are!")

Twinkle, twinkle, little star,
    How I wonder what you are!
	Up above the world so high,
	Like a diamond in the sky.
Twinkle, twinkle, little star,
    How I wonder what you are!

In [18]:
#2. Write a Python program to get the Python version you are using.

In [19]:
import sys
print("Python version")
print (sys.version)

Python version
3.7.12 (default, Jan 15 2022, 18:48:18)
[GCC 7.5.0]

In [20]:
import platform
print(platform.python_version())

3.7.12

In [21]:
#3. Write a Python program to display the current date and time.

In [22]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2022-02-17 13:12:28

In [24]:
#4.Write a Python program which accepts the radius of a circle from the user and compute the area.

In [25]:
p=3.14
r=float(input('Enter the radius: '))
area=p*r*r
print('Area is :',area)

Enter the radius: 12
Area is : 452.15999999999997

In [26]:
#5. Write a Python program which accepts the user's first and last name 
#and print them in reverse order with a space between them.

In [27]:
first_name=input('Enter the first name:')
last_name=input('Enter the last name:')
fullname=first_name+last_name
print("  ".join (fullname[::-1]))

Enter the first name:sachin
Enter the last name:Tendulkar
r  a  k  l  u  d  n  e  T  n  i  h  c  a  s

In [28]:
#6.Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers. 
#Sample data : 3, 5, 7, 23 Output : List : ['3','5','7','23'] Tuple : ('3', ' 5', ' 7', ' 23')

In [30]:
num=(input('Enter the numbers: '))
list=num.split(",")
print(list)
t=tuple(list)
print(t)

Enter the numbers: 1,2,3,4
['1', '2', '3', '4']
('1', '2', '3', '4')

In [32]:
#7. Write a Python program to accept a filename from the user and print the extension of that. 
#Sample filename : abc.java
#Output : java

In [33]:
file=input('Enter the filename:')
ext = file.split(".")
print ("The extension of the file is : " + repr(ext[-1]))  ##str.rsplit Python str.rsplit(sep=None, maxsplit=-1)

Enter the filename:abc.txt
The extension of the file is : 'txt'

In [34]:
#8.Write a Python program to display the first and last colors from the following list. color_list = ["Red","Green","White" ,"Black"]

In [35]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0],color_list[-1])

Red Black

In [37]:
#9. Write a Python program to display the examination schedule. (extract the date from exam_st_date). 
#exam_st_date = (11, 12, 2014)
#Sample Output : The examination will start from : 11 / 12 / 2014

In [38]:
exam_st_date = (11,12,2014)
print( "The examination will start from : %i / %i / %i"%exam_st_date)

The examination will start from : 11 / 12 / 2014

In [39]:
#10. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn. 
#Sample value of n is 5

#Expected Result : 615

In [40]:
num = int(input("Enter an int value : "))
n1 = int( "%i" % num )
n2 = int( "%i%i" % (num,num) )
n3 = int( "%i%i%i" % (num,num,num) )
print (n1+n2+n3)

Enter an int value : 5
615